@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family:'Roboto', sans-serif; 
}

.header{
    border-color: red;
    padding-top: .5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
.navlinks{
    display:flex;
    margin-left: auto;
}
.navlinks{
    list-style-type:none 
}
.navlinks{
    gap: 20px;
}
.navlinks{
    align-items:center;    
}